<?xml version="1.0" encoding="utf-8"?>
<plugin 
  xmlns="http://www.phonegap.com/ns/plugins/1.0" id="webview-media-capture" version="1.0.0">
  <name>Webview Media Capture</name>
  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  <js-module src="www/mediacapture.js" name="MediaCapture">
    <clobbers target="MediaCapture" />
  </js-module>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="MediaCapture">
        <param name="android-package" value="com.lifecare.cordova.mediacapture.MediaCapture"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.CAMERA" android:required="false" />
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
      <uses-permission android:name="android.permission.FLASHLIGHT" />
      <uses-feature android:name="android.hardware.camera.flash" android:required="false"/> 
      <uses-feature android:name="android.hardware.camera" android:required="false" />
      <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    </config-file>
    <resource-file target="res/values/ids.xml" src="src/android/res/values/ids.xml" />
    <resource-file target="res/drawable/ic_flash_on_black_24dp.xml" src="src/android/res/drawable/ic_flash_on_black_24dp.xml" />
    <resource-file target="res/drawable/ic_flash_off_black_24dp.xml" src="src/android/res/drawable/ic_flash_off_black_24dp.xml" />
    <resource-file target="res/drawable/ic_mic_black_24dp.xml" src="src/android/res/drawable/ic_mic_black_24dp.xml" />
    <resource-file target="res/drawable/ic_mic_off_white_24dp.xml" src="src/android/res/drawable/ic_mic_off_white_24dp.xml" />
    <resource-file target="res/drawable/ic_pause_black_24dp.xml" src="src/android/res/drawable/ic_pause_black_24dp.xml" />
    <resource-file target="res/drawable/ic_radio_button_checked_black_24dp.xml" src="src/android/res/drawable/ic_radio_button_checked_black_24dp.xml" />
    <resource-file target="res/drawable/ic_stop_black_24dp.xml" src="src/android/res/drawable/ic_stop_black_24dp.xml" />
    
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:theme="@style/Theme.AppCompat.NoActionBar" android:name="com.lifecare.cordova.mediacapture.MainActivity"></activity>

    </config-file>
    <source-file src="src/android/MediaCapture.java" target-dir="src/com/lifecare/cordova/mediacapture"/>
    <source-file src="src/android/MainActivity.java" target-dir="src/com/lifecare/cordova/mediacapture"/>
    <source-file src="src/android/AutoFitTextureView.java" target-dir="src/com/lifecare/cordova/mediacapture"/>
    <source-file src="src/android/ViewSizeCalculator.java" target-dir="src/com/lifecare/cordova/mediacapture"/>
    <framework src="src/android/mediacapture.gradle" custom="true" type="gradleReference"/>
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="MediaCapture">
        <param name="ios-package" value="MediaCapture"/>
      </feature>
    </config-file>
    <dependency id="cordova-plugin-add-swift-support" spec="~1.7.2" />
    <source-file src="src/ios/MediaCapture.swift"/>
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
      <string>The camera is used to record video.</string>
    </config-file>
  </platform>
</plugin>